@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins&family=Roboto&family=Roboto+Slab&family=Sofia+Sans:ital,wght@0,100;0,200;0,400;1,300&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */

  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #f0f0f0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* navbar */

.navbar-container {
  width: 100vw;
  height: 9vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  z-index: 100;
}

.website-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.website-logo:hover {
  color: #D97122;
}

.website-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.website-logo h3 {
  font-size: 1.5rem;
}

.navbar-controlls {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.navbar-controlls ul {
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container ul li {
  list-style: none;
  margin: 0 1rem;
}

.navbar-controlls ul li a{
  text-decoration: none;
  cursor: pointer;
  color: #f0f0f0;
  transition: all 0.5s ease-in-out;
}

.navbar-controlls ul li a:hover {
  color: #D97122;
}

.navbar-user {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
  cursor: pointer;
}

.navbar-user img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* home */

.home-container {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #080400;
  background-image: url("./assets/homebackground.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.home-container h1 {
  font-size: 5rem;
  font-weight: 600;
  margin: 10px 0px;
}

.home-container p {
  text-align: center;
}

.consult-button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  margin-top: 40px;
  cursor: pointer;
  background-color: #e72020;
  color: white;
  transition: all 0.5s ease-in-out;
}

.consult-button:hover {
  transform: scale(1.05);
}

.service-container {
  display: flex;
  gap: 1rem;
  margin-top: 40px;
}

.service {
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.service span {
  line-height: 20px;
  font-size: 0.9rem;
}

.customer-support {
  font-size: 2rem;
  gap: 0.8rem;
}

.refund {
  font-size: 2rem;
  gap: 0.8rem;
}

.private {
  font-size: 2rem;
  gap: 0.8rem;
}

.verified {
  font-size: 2rem;
  gap: 0.8rem;
}

.secure-payment {
  font-size: 2rem;
  gap: 0.8rem;
}

/* main */

.main-container {
  width: 85vw;
  height: auto;
}

.testimonial-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f2d2ba;
}

.textimonial-heading-contianer img {
  width: 70px;
  height: 70px;
}

.textimonial-heading-contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.testimonial-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #D97122;
  font-size: 1.2rem;
}

.testimonial-heading img {
  width: 30px;
  height: 30px;
}

.carousel-container {
  width: 90%;
}

.testimonial-image {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  object-fit: cover;
}

.swiper-slide {
  width: auto !important;
} 

.swiper-slide-visible {
  width: auto !important;
} 

.swiper-slide-active {
  width: auto !important;
}

.swiper-container {
  width: 80% !important;
  height: 450px !important;
}

.swiper-pagination {
  margin-top: 30px !important;
}

.offer-contianer {
  width: 100%;
  height: 50vh;
  background-image: url("https://user-images.githubusercontent.com/99132893/232675632-cb398efb-c32c-4d63-ae07-caaf8ce3aeb5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 0px 2px 10px #3b3b3b;
}

.preview-page-dots {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: #D97122 2px solid;
  cursor: pointer;
}

.dot.active {
  background-color: #D97122;
}

/* premium astrologer */

.premiumastrologer-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2d2ba;
}

.online-astrologers-container {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.astrologer-card {
  width: 300px;
  height: 400px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  box-shadow: 5px 5px 10px #3b3b3b;
  transition: all 0.5s ease-in-out;
}

.astrologer-card:hover {
  transform: translateY(-10px);
}

.astrologer-image {
  width: 100%;
  height: 100%;
}

.astrologer-image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.astrologer-details {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.9));
  font-size: 0.9rem;
}

.card-upper-section {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 0.8rem;
}

.online {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 0.6rem;
}

.online-status {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: none;
  background-color: #00FF00;
}

.hover-card {
  position: absolute;
  top: 0;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transition: all 0.5s ease-in-out;
  background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.9));
  opacity: 0;
}

.astrologer-card:hover .hover-card {
  opacity: 1;
}

.astrologer-card:hover .astrologer-details {
  opacity: 0;
}

.chat-button {
  width: 100px;
  height: 40px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #D97122;
  color: #f0f0f0;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.call-button {
  width: 100px;
  height: 40px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #D97122;
  color: #f0f0f0;
  font-size: 0.8rem;
  cursor: pointer;
  letter-spacing: 1px;
}

.card-bottom-section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.card-bottom-section h3 {
  margin: 5px 0px;
}

.card-bottom-section p {
  margin: 5px 0px;
  font-size: 0.7rem;
}

.card-end {
  width: 100%;
  height: 12vh;
  background: url("https://user-images.githubusercontent.com/99132893/233254741-aec43ffb-0cff-49f1-a426-db62aa55d87f.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* chakra */

.chakra-container {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.chakra-main-section {
  width: 90%;
  height: 60vh;
  display: flex;
  justify-content: space-around;
}

.chakra-main-section-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.chakra-main-section-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.problem {
  width: 150px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border: #D97122 2px solid;
  border-radius: 10px;
}

.problem-img {
  width: 70px;
  height: 100%;
  background-color: #D97122;
  display: grid;
  place-items: center;
}

.problem-img img {
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.problem-title {
  width: 50%;
  height: inherit;
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  display: grid;
  place-items: center;
}

.chakra-main-section-center {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chakra-main-section-center-img {
  position: absolute;
  top: 50.5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chakra-main-section-center-img2 {
  animation: rotate 25s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

footer {
  width: 100vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-color: #D97122;
  color: #f0f0f0;
}

.inner-footer-container {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.section1 {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-content: space-evenly;
}

.section1 p {
  font-size: 0.6rem;
}

.section2 {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section3 {
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.section4 {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social {
  display: flex;
  gap: 1rem;
}

.social img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.trusted-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 10px;
}

.trusted {
  width: 100px;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trusted img {
  width: 80%;
  height: 80%;
}

ul {
  list-style: none;
  padding: 0;
}

ul li a {
  text-decoration: none;
  color: #f0f0f0;
  font-size: 0.9rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

ul li a:hover {
  font-weight: 600;
  color: black;
}

.name-input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.email-input {
  width: 80%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 0.9rem;
  font-weight: 600;
}

.message-input {
  width: 80%;
  height: 100px;
  border-radius: 10px;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 0.9rem;
  resize: none;
  font-weight: 600;
}

.submit-button {
  width: 83%;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: pointer;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.footer-logo span {
  font-size: 2rem;
}